:root {
	--light-pink: #ffb3f0;
	
	--orange: #ff8457;
	--yellow: #ffb47a;
	--green: #6af171;
	--teal: #3fb5a3;
	--blue: #65b9e6;
	--purple: #7b37bf;
	--pink: #ff4b82;
	
	--dark-green: #147680;
	--dark-blue: #004070;
	--dark-purple: #451b7b;
	--dark-pink: #a91f7a;
	
	--black: #150c39;
	--white: #8cd9f9;
	--whiter-white: #ADE7FF;
	--dark: rgba(21, 12, 57, 0.5);
	--light: rgba(140, 217, 249, 0.5);
	
	--primary-font: Comfortaa, sans-serif;
	--secondary-font: ConcertOne, sans-serif;
	
	--content-side-padding: 15px;
	--card-height: 200px;
	--text-shadow: 0.08em 0.08em var(--purple);
	--box-shadow: 4px 4px var(--purple);
}

@font-face {
	font-family: ConcertOne;
	src: url("../fonts/ConcertOne-Regular.ttf");
}

@font-face {
	font-family: Comfortaa;
	src: url("../fonts/Comfortaa-Variable.ttf");
}

html {
	background: #142B73 url("../img/bushes_background.png") no-repeat fixed;
	background-size: 100vw;
	background-position: bottom center;
	
	color: var(--white);
	font-family: var(--primary-font);
	margin: auto 15%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
	/* Start of Scrollbar CSS */
	/* Firefox */
	scrollbar-width: auto;
	scrollbar-color: var(--white) #150c39;
	/* Chrome, Edge, and Safari */
	&:-webkit-scrollbar {
		width: 16px;
	}
	&:-webkit-scrollbar-track {
		background-color: var(--black);
	}
	&:-webkit-scrollbar-thumb {
		background-color: #328992;
		border-radius: 10px;
		border: 3px none #ffffff;
	}
	/* End of Scrollbar CSS */
}


/* MAIN STYLES */
/* containers */
body {
	background-color: var(--dark);
	margin: 0;
	min-height: 100vh;
	box-shadow: 5px 0 50px var(--dark);
	display: flex;
	flex-direction: column;
}

main {
	padding: 0 var(--content-side-padding);
}

nav {
	width: 20%;
	background-color: var(--black);
	& a {
		display: block;
		text-decoration: none;
		padding: 10px 15px;
		border: solid var(--purple);
		border-width: 0 0 1px 0;
	}
	& .dropdown {
		position: relative;
		&:hover .dropdown-content {
			display: block;
		}
	}
	& .dropdown-content {
		display: none;
		width: 100%;
		background-color: var(--black);
		position: absolute;
		top: 0;
		right: -100%;
		z-index: 1;
		& a {
			background-color: var(--green);
			color: var(--black);
			border: solid var(--black);
			border-width: 0 0 1px 0;
			&:hover {
				color: var(--whiter-white);
			}
			&:visited {
				background-color: var(--purple);
			}
		}
		& :last-child {
			border-width: 0;
		}
	}
}

footer {
	background-color: var(--black);
	text-align: center;
	border-top: 2px solid var(--purple);
	border-bottom: 200px solid var(--black);
	padding: 0.5em;
	margin: 100px 0 0;
	& a {
		padding: 0.5em;
	}
}

article {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  & p {
    margin: 5px 0 0 0;
    padding: 0;
  }
}

details {
	padding-left: 0.5em;
	&.sub {
		border-left: 4px dotted var(--purple);
		margin-left: 1.75em;
		& summary {
			list-style-type: "⏵";
		}
	}
}

details[open] > summary {
  border-bottom: 2px solid var(--purple);
}

details.sub[open] > summary {
  list-style-type: "⏷";
}

summary {
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
  user-select: none; /* Standard syntax */
}

blockquote, .bubble {
  background: linear-gradient(to right, transparent, rgba(92, 208, 255, 0.25)), url("../img/arcade-glitter_tile.png") no-repeat 95%;
  background-position-y: bottom -15px;
  background-size: auto, 75px;
  
  border-left: 4px solid var(--purple);
  border-radius: 0 25px 25px 0;
  box-shadow: 5px 0 25px var(--dark);
  margin: 15px 40px;
  padding-left: 15px;
  & p {
    margin: 0;
    padding: 1em 1em 1em 0;
  }
}

iframe {
	padding: 5px 10px;
}

/* text */
h1, h2, h3, h4 {
	font-family: var(--secondary-font);
	font-weight: normal;
}

h1 {
	color: var(--dark-green);
	background: var(--green);
	font-size: 42px;
	text-transform: uppercase;
	padding: 0.25em 0.5em;
	border-radius: 0 1em 1em 0;
	margin: 25px 25% 0 -15px;
	position: relative;
	&:after {
		content: "🟆";
		font-family: sans-serif;
		line-height: 1.2em;
		position: absolute;
		right: 0.75em;
	}
	&:first-child {
		border-top-right-radius: 0;
		margin-top: 0;
	}
	&:not(:first-child) {
		margin-top: 50px;
	}
	+ h2 {
		margin-top: 0;
	}
	+ section > h2 {
		margin-top: 0;
	}
}

h2 {
	color: var(--light-pink);
	background-color: var(--purple);
	padding: 0em 1em;
	border-radius: 0 1em 1em 0;
	margin: 30px 60% 5px -15px;
}

a {
	color: var(--white);
	text-decoration: underline wavy var(--green) 1px;
	&:hover {
		color: var(--black);
		background-color: var(--green);
		text-decoration: none;
	}
	&:visited {
		text-decoration-color: var(--purple);
	}
	&:visited:hover {
		color: white;
		background-color: var(--purple);
	}
	&[href^="http"]:after {
		content: "\1F855";
		display: inline-block;
		position: relative;
		bottom: 0.1em;
		line-height: 0;
		text-shadow: var(--text-shadow);
	}
}

p {
	padding: 0 15px;
	+ ul {
		margin-top: -15px;
	}
}

strong {
  letter-spacing: 0.05em;
  font-variant-caps: all-small-caps;
  color: var(--green);
}

article time {
  opacity: 0.5;
  display: block;
  position: relative;
  left: 1em;
  letter-spacing: 0.05em;
  font-variant-caps: all-small-caps;
  font-weight: bold;
}

/* other */
hr {
	border: none;
	border-top: 7.5px dotted var(--purple);
	margin: 4em 30%;
}


/* ID STYLES */
/* containers */
#banner {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--black);
	border-bottom: 2px solid var(--purple);
	& a:has(img) {
		width: 80%;
	}
	& img {
		width: 100%;
		vertical-align: bottom; /* Trims excess height added by anchor tag. */
	}
}

#card-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


/* CLASS STYLES */
/* containers */
.wrapper {
	flex-grow: 1;
}

.rating {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  position: absolute;
  bottom: 0.25em;
  & span {
    display: inline-block;
    background-color: var(--green);
    width: 1.25em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 0.1em;
    color: var(--black);
    text-align: center;
    font-size: 0.75em;
  }
}

.review {
  & details {
    display: none;
    height: var(--card-height);
    max-width: 750px;
    vertical-align: top;
    box-sizing: border-box;
    margin-left: 0.25em;
  }
  & details[open] {
    display: inline-block;
  }
  & details[closed] {
    display: none;
  }
  & summary {
    display: none;
  }
}

.thumbnail {
	border-radius: 15px 15px 0 0;
	border: 3px solid var(--black);
	aspect-ratio: 1/1;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.card {
	display: inline-block;
	max-height: var(--card-height);
	aspect-ratio: 5/6;
	border-radius: 15px;
	background-color: var(--black);
	box-shadow: var(--box-shadow);
	text-align: center;
	position: relative;
	transition: box-shadow 100ms, transform 250ms, color 250ms;
	& p {
		font-family: var(--secondary-font);
		font-size: 1.25em;
		position: absolute;
		width: 100%;
		top: 0.25em;
		background-color: var(--dark);
		text-shadow: var(--text-shadow);
	}
	&:hover {
		transform: translateY(-0.75em);
		cursor: pointer;
	}
	&.active {
		transform: translateY(-1.25em) !important;
		color: white;
	}
}

.cut-out {
  /* Use as base article style */
  display: block;
  width: 600px;
  margin: 15px;
  background-color: var(--black);
  border: 3px dotted var(--green);
  box-shadow: 5px 0 25px var(--dark);
  & h3 {
    background-color: var(--green);
    color: var(--dark-green);
    padding: 0.25em 0.75em;
    margin: 0.5em -13px;
    & a {
      color: var(--black);
      padding: 0.25em;
      text-decoration-color: var(--black);
    }
    & a:visited {
      text-decoration-color: var(--purple);
    }
    & a:hover {
      color: var(--green);
      background-color: var(--black);
    }
    & a:hover:visited {
      color: var(--purple);
    }
  }
}

.embed-container {
	background-color: var(--black);
	width: 55%;
	padding: 10px;
	border: 2px dotted var(--pink);
	margin: 20px 10px;
}

/* text */
.section-link {
	color: inherit;
	font-size: 1.25em;
	line-height: 0.75em;
	text-decoration: none;
	vertical-align: sub;
	padding: 0 0.15em;
	margin: 0 0.15em;
	&:hover {
		animation-name: rainbow;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		background-color: transparent;
  }
}


/* ANIMATIONS */

@keyframes rainbow {
	0% { color: #F7447E; }
	25% { color: #FFA756; }
	50% { color: var(--green); }
	75% { color: #4F96FF; }
	100% { color: #F7447E; }
}


/* -- MOBILE VIEWPORT -- */
@media only screen and (max-width: 750px) {
	/* MAIN STYLES */
	html {
		margin: 0;
		}
	
	body {
		padding: 50px 5px 0px;
	}
	
	article {
		margin: 0 5% 15px 5%;
	}
	
	footer {
		border-bottom: 50px solid var(--black);
	}
	
	
	/* ID STYLES */
	
	
	/* CLASS STYLES */
	.card:hover {
		transform: none;
	}
}